.tableproducts{
    margin-top: 40px;
}
.tableproducts table{
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #ccc;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.tableproducts table thead{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
    color: #fff;
    background-color: #000;
    box-shadow: 0px 3px 10px 0px #ccc;
}
.tableproducts table thead tr{
    width: 100%;
    display: flex;
}
.tableproducts table thead th{
    width: 25%;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    padding: 15px;
    box-shadow: 0px 0px 0px 0px #ccc;
}
.tableproducts table tbody{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}
.tableproducts table tbody tr{
    width: 100%;
    display: flex;
}
.tableproducts table tbody tr a{
    display: flex;
}
.tableproducts table tbody td{
    width: 10%;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    height: 120px;
}
.tableproducts.tableusers table tbody td{
    width: 25%;
}
.tableproducts table tbody td .img{
    width: 100%;
}
.tableproducts table tbody td .img img{
    width: 120px;
    height: 90px;
    object-fit: cover;
    border: 1px solid #ccc;
}
.tableproducts table tbody td.stockNone{
    background-color: #df9494;
    color: #fff;
    border-right: 1px solid #edb0b0;
}
.ver {
    display: inline-block!important;
    padding: 5px 30px;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--primary);
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}